[submodule "psyplot-gui"]
	path = psyplot-gui
	url = https://github.com/Chilipp/psyplot-gui.git
	branch = v1.0.0.dev0
[submodule "psy-simple"]
	path = psy-simple
	url = https://github.com/Chilipp/psy-simple.git
[submodule "psy-maps"]
	path = psy-maps
	url = https://github.com/Chilipp/psy-maps.git
[submodule "psy-reg"]
	path = psy-reg
	url = https://github.com/Chilipp/psy-reg.git
[submodule "psyplot"]
	path = psyplot
	url = https://github.com/Chilipp/psyplot
	branch = dev
